<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<head th:include="/header :: header_head">
<title>Appointment</title>
<meta autocapitalize="on" charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<style>
h6 {
	margin-top: 8px;
}
</style>
<body>
	<div th:include="/header :: confirm_progress_dlg"></div>

	<div class="modal fade" id="appModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Make an Appointment</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>

						<div class="container" style="width: 100%">
							<div class="row">
								<form style="width: 100%">
									
									<div class="form-group">
									<label class="font-weight-bold">Select Hospital</label>
										<select class="selectpicker form-control" id="hospitals"
											data-live-search="true"
											data-parsley-error-message="Hospital is required"
											data-parsley-errors-container="#hospital-error-container"
											data-parsley-required
											data-parsley-trigger="change focusin focusout input">
										</select>
										<div id="hospital-error-container"></div>
									</div>
									<div class="form-group">
										<label class="font-weight-bold">Select Doctor</label>
										<select class="selectpicker form-control" id="doctors" required
											data-live-search="true"
											data-parsley-error-message="Doctor is required"
											data-parsley-errors-container="#doctor-error-container"
											data-parsley-required
											data-parsley-trigger="change focusin focusout input">
										</select>
										<div id="doctor-error-container"></div>
									</div>
									<div class="form-group">
										<label class="font-weight-bold">Select Time</label>
										<select class="selectpicker form-control" id="sessions"
											required data-live-search="true" data-parsley-error-message="Time is required"
											data-parsley-errors-container="#time-error-container"
											data-parsley-required
											data-parsley-trigger="change focusin focusout input">
										</select>
										<div id="time-error-container"></div>
									</div>
									<div class="form-group">
										<label class="font-weight-bold">Select Date</label>
										<input class="form-control" type="date" id="date" required>
										<div id="date-error-container"></div>
									</div>
									<div class="form-group">
										<label class="font-weight-bold">Select Patient ID</label>
										<input type="number" min="0" id="insert_pid"
											class="form-control" required>
										<div id="patient-error-container"></div>
									</div>
									<button class="btn btn-primary" type="submit"
										style="width: 100%; margin-top: 19px;" id="make_appointment">Make
										Appointment</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="modal fade" id="appByIdModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Get Appointment By Id</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>

						<div class="container" style="width: 100%">
							<div class="row">
								<form style="width: 100%">
									<h6>Enter Id</h6>
									<input type="number" class="form-control" placeholder="Number!"
										min="1" id="appointment_id" autofocus required>
									<button class="btn btn-primary" type="button"
										style="width: 100%; margin-top: 19px;"
										id="find_appointment_by_id">Find</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="appByPatientModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Get Appointment By Patient</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>

						<div class="container" style="width: 100%">
							<div class="row">
								<form style="width: 100%">
									<h6>Enter Id</h6>
									<input type="number" class="form-control" placeholder="Number!"
										min="1" id="patient_id" autofocus required>
									<button class="btn btn-primary" type="button"
										style="width: 100%; margin-top: 19px;"
										id="find_appointment_by_patient">Find</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="appByStatusModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Get Appointment By Status</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>

						<div class="container" style="width: 100%">
							<div class="row">
								<form style="width: 100%">
									<h6>Select Status</h6>
									<select id="status_op" class="form-control">
										<option value="1">Pending</option>
										<option value="2">Completed</option>
										<option value="3">Canceled</option>
									</select>
									<button class="btn btn-primary" type="button"
										style="width: 100%; margin-top: 19px;"
										id="find_appointment_by_status">Find</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="updateModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Update Status</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>

						<div class="container" style="width: 100%">
							<div class="row">
								<form style="width: 100%">
									<h6>Select Status</h6>
									<select id="status_up" class="form-control">
										<option value="1">Pending</option>
										<option value="2">Completed</option>
										<option value="3">Canceled</option>
									</select>
									<button class="btn btn-primary" type="button"
										style="width: 100%; margin-top: 19px;" id="update_appointment">Update</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="deleteModal" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Delete Appointment</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div>

						<div class="container" style="width: 100%">
							<div class="row">
								<form style="width: 100%">
									<h5>Are you sure want to delete?</h5>
									<button class="btn btn-primary" type="button"
										style="width: 100%; margin-top: 19px;" id="delete_appointment">Delete</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<button class="btn btn-sm btn-primary btn-round"
			data-backdrop="static" data-target="#appModal" data-toggle="modal"
			type="button">
			<i class="fas fa-calendar-check"></i> Make an Appointment
		</button>
		<button class="btn btn-sm btn-primary btn-round" type="button"
			id="getAppointmentById">
			<i class="fas fa-calendar-check"></i> Get Appointment By Id
		</button>
		<button class="btn btn-sm btn-primary btn-round" type="button"
			id="getAppointmentByPatient">
			<i class="fas fa-calendar-check"></i> Get Appointment By Patient
		</button>
		<button class="btn btn-sm btn-primary btn-round" type="button"
			id="getAppointmentByStatus">
			<i class="fas fa-calendar-check"></i> Get Appointment By Status
		</button>
	</div>
	<br>
	<div class="container rounded-lg" style="background-color: white">
		<table class="table table-striped table-hover table-responsive-lg"
			id="appointment_tb">
			<thead>
				<tr>
					<th>Appointment Id</th>
					<th>Patient</th>
					<th>Doctor</th>
					<th>Room</th>
					<th>Time</th>
					<th>Date</th>
					<th>Status</th>
					<th>Update</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
	<div th:include="/header :: confirm_progress_dlg"></div>
	<div th:replace="/header :: validate_token"></div>
	<script type="text/javascript">
		if (!containsAny(authorities, APPT_PERMS)) {
			redirectHome();
		}
	</script>
	<div th:replace="/nav :: nav"></div>
	<script type="text/javascript">
		$(function() {
			$('#appointment-menu').addClass('active');
			$('#appointment-menu').siblings().removeClass('active');
		});
	</script>
	<script src="/js/appointment.js"></script>
</body>
</html>